{
  "extends": ["eslint-config-react-kirizey", "plugin:@typescript-eslint/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "no-use-before-define": "off",
    "jsdoc/require-returns": "off",
    "no-param-reassign": "off",
    "max-classes-per-file": "off",
    "max-len": ["error", { "code": 120 }],
    "no-extra-semi": "off",
    "@typescript-eslint/no-extra-semi": ["error"]
  }
}
